.character-info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	max-width: 1480px;
	height: 100%;

	.character-info-card {
		display: flex;
		width: 600px;

		.flex {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;

			.character-data {
				margin: 0 auto;
				color: $color-white;
				h1 {
					font-family: $primary-font;
					text-align: center;
					font-size: 2rem;
				}

				h3 {
					font-family: $primary-font;
					text-align: left;
					//
				}
			}
		}
	}
}
