#home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100%;
	height: 100%;

	.links-container {
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		flex-wrap: wrap;
		width: 95%;
		padding: 10px;

		& .characters-link {
			background-image: url('https://res.cloudinary.com/fullstackcaveman/image/upload/v1634791151/Star%20Wars%20Universe/DarthVader_lz9b2x.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 480px;
			height: 320px;
			border-radius: 2px;
			margin: 10px;
			border: #ffee58 2px solid;
		}

		& .films-link {
			background-image: url('https://res.cloudinary.com/fullstackcaveman/image/upload/v1634791142/Star%20Wars%20Universe/StarWarsFilms_qizvfa.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 480px;
			height: 320px;
			border-radius: 2px;
			margin: 10px;
			border: #ffee58 2px solid;
		}

		& .starships-link {
			background-image: url('https://res.cloudinary.com/fullstackcaveman/image/upload/v1634791132/Star%20Wars%20Universe/starships_fecxl6.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 480px;
			height: 320px;
			border-radius: 2px;
			margin: 10px;
			border: #ffee58 2px solid;
		}

		& .species-link {
			background-image: url('https://res.cloudinary.com/fullstackcaveman/image/upload/v1634791177/Star%20Wars%20Universe/species_yfy4kt.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 480px;
			height: 320px;
			border-radius: 2px;
			margin: 10px;
			border: #ffee58 2px solid;
		}

		& .vehicles-link {
			background-image: url('https://res.cloudinary.com/fullstackcaveman/image/upload/v1634791146/Star%20Wars%20Universe/vehicles_toevjo.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 480px;
			height: 320px;
			border-radius: 2px;
			margin: 10px;
			border: #ffee58 2px solid;
		}

		& .planets-link {
			background-image: url('https://res.cloudinary.com/fullstackcaveman/image/upload/v1634791123/Star%20Wars%20Universe/planets_znlkgz.jpg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 480px;
			height: 320px;
			border-radius: 2px;
			margin: 10px;
			border: #ffee58 2px solid;
		}
	}
}
