.info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	max-width: 1360px;
	height: 100%;

	.info-card {
		display: flex;
		width: 100%;

		.flex {
			display: flex;
			align-items: center;
			width: 100%;

			img {
				height: 364px;
			}

			.card-data {
				display: flex;
				flex-direction: column;
				margin-left: 30px;
				color: $color-white;
				width: 100%;

				h1 {
					font-family: $primary-font;
					text-align: center;
					font-size: 2rem;
				}

				h3 {
					font-family: $primary-font;
					text-align: left;
				}

				.info-blocks {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;

					.left-info,
					.right-info {
						flex-wrap: wrap;
						max-width: 645px;
						margin: 10px;

						.info-array-container {
							// For wrapping array items
							margin-bottom: 10px;

							.info-array {
								cursor: pointer;
								&.crawl {
									font-family: $primary-font;
									color: $starwars-yellow;
									cursor: default;
								}
								&.no-links {
									cursor: default;
									width: 100%;
								}
							}

							h3 {
								.info-array {
									&.no-links {
										cursor: default;
									}
								}
							}
						}

						span {
							background-color: $starwars-yellow;
							font-family: $primary-font;
							font-size: 0.9rem;

							margin: 0 2px;
							padding: 2px 7px;
							border-radius: 10px;
							color: black;
						}

						.small-text {
							background-color: transparent;
							color: white;
							margin-left: 0;
							padding: 2px 5px;
							cursor: text;
						}
					}

					.left-info {
						margin-right: 30px;
						width: 30% span {
							cursor: pointer;
						}

						.pointer {
							cursor: pointer;
						}
					}

					.right-info {
						width: 70%;
					}
				}
			}
		}
	}
}

@media (max-width: $breakpoint-xl) {
	.info-container {
		width: 95%;
	}
}

@media (max-width: $breakpoint-large) {
	.info-container {
		.info-card {
			height: 575px;
			.flex {
				.card-data {
					flex-direction: column;
				}
			}
		}
	}
}

@media (max-width: $breakpoint-med-lg) {
	.info-container {
		.info-card {
			height: 580px;
			.flex {
				.card-data {
					flex-direction: column;
					.info-blocks {
						width: 140%;
					}
				}
			}
		}
	}
}

@media (max-width: $breakpoint-medium) {
	.info-container {
		.info-card {
			height: 650px;
			.flex {
				.card-data {
					flex-direction: column;
					.info-blocks {
						width: 140%;
					}
				}
			}
		}
	}
}

@media (max-width: $breakpoint-small) {
	.info-container {
		.info-card {
			height: 1000px;
			.flex {
				flex-direction: column;
				.card-data {
					flex-direction: column;
					.info-blocks {
						flex-direction: column;
						align-items: center;
						width: 100%;
					}
				}
			}
		}
	}
}

@media (max-width: $breakpoint-xs) {
	.info-container {
		.info-card {
			height: 1200px;
			.flex {
				flex-direction: column;
				.card-data {
					flex-direction: column;
					.info-blocks {
						flex-direction: column;
						align-items: center;
						width: 100%;
					}
				}
			}
		}
	}
}
