.relatedItems-container {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	text-align: center;
	color: #fff;
	padding: 10px;
	margin: 5px 0;
	max-width: 100%;
	// height: auto;
	border: 3px solid $starwars-yellow;
	border-radius: 2px;
	// flex-wrap: wrap;

	.item-title {
		h2 {
			font-size: 1.2rem;
			margin-bottom: 10px;
		}
	}

	.items {
		display: flex;
		flex-wrap: wrap;
		justify-items: center;
		align-items: flex-start;
		text-align: center;
		justify-content: center;

		a {
			color: white;

			.relatedItem-container {
				width: 100px;
				margin: 0 10px;
				cursor: pointer;

				img {
					border-radius: 5px;
					width: auto;
					height: 156px;
					margin-bottom: 5px;
				}

				h2 {
					font-size: 1rem;
				}
			}
		}

		#Vehicles,
		#Starships,
		#Planets,
		#Species,
		#Characters {
			img {
				width: 105px;
				height: 105px;
				border-radius: 50%;
				margin: 10px 0;
			}
		}
	}
}
