@font-face {
	font-family: 'STARJEDI';
	src: local('STARJEDI'), url('../fonts/STARJEDI.TTF') format('truetype');
	font-weight: normal;
}

// Fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Impact', sans-serif;
$starwars-font: 'STARJEDI';

// Colors
$primary-font-color: #4f1605;
$color-white: #fff;
$starwars-yellow: #ffe81f;

// Background Animation
$background-animation-time: 50s;
$background-image: '../images/stars.png';
$background-twinkle: '../images/twinkling.png';

// Media Queries
$breakpoint-xl: 1250px;
$breakpoint-large: 1080px;
$breakpoint-med-lg: 860px;
$breakpoint-medium: 709px;
$breakpoint-small: 635px;
$breakpoint-xs: 430px;
